.navbar {
	height: 80px;
	width: 100%;
	display: flex;
	position: fixed;
	z-index: 1000;
}

.logo {
	display: block;
	height: 80px;
	width: 200px;
	background: #FFC600 url(../img/Logo6.svg) no-repeat;
	z-index: 9999;
	padding: 0 100px;
	background-position: 50% 0%;
}

/*.logo:after{
	content: 'натяжные потолки';
	font-size: 10px;
	color: #FFFFFF;
	position: absolute;
	margin: 53px 0px 0 -28px;
	letter-spacing: 0.8px;
}
.logo:after{
	content: 'натяжные потолки';
	font-size: 11px;
	color: #fff;
	position: absolute;
	margin: 50px 0px 0 -33px;
	letter-spacing: 0.8px;
	 
	 border: 1px solid #fff; 
	padding: 0 5px;
	font-weight: 400;
}*/
.kind {
	background: #F3400A;
	display: flex;
	align-items: center;
	height: 80px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	padding: 0 50px 0px 30px;
	white-space: nowrap;
	z-index: 8888;
}

.menu ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.menu li {
	list-style: none;
	color: #fff;
	padding-top: 30px;
	white-space: nowrap;
	margin: 0 20px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
}

.menu li a:hover {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.menu {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	word-wrap: normal;
}

.calculator {
	display: flex;
	align-items: center;
	height: 80px;
	color: #fff;
	text-align: left;
	padding-left: 60px;
	padding-right: 20px;
	background: rgba(0, 0, 0, 0.3) url(../img/calculator.svg) 20px 50% no-repeat;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.calculator:hover {
	background: rgba(0, 0, 0, 0.5) url(../img/calculator.svg) 20px 50% no-repeat;
	transition: all 0.5s ease-in-out;
}



.feedback {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
	width: 240px;
	height: 80px;
	color: #fff;
	text-align: left;
	padding-left: 74px;
	padding-right: 20px;
	background: rgba(0, 0, 0, 0.3) url(../img/form.svg) 24px 20px no-repeat;
}

.feedback:hover {
	background: rgba(0, 0, 0, 0.5) url(../img/form.svg) 24px 20px no-repeat;
	transition: all 0.5s ease-in-out;
}


/* Виды потолков */

#menuArea {
	z-index: 8888;
}

input {
	display: none;
}

.open {
	background: url(../img/Lines2.svg);
	width: 20px;
	height: 12px;
	display: block;
	cursor: pointer;
	top: 34px;
	position: absolute;
	margin-left: -20px;
	z-index: 10000;
}

.menuOpen {
	width: 24px;
	height: 20px;
	display: block;
	padding: 15px;
	cursor: pointer;
	float: right;
}

.menu2 {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .95);
	z-index: 10;
}

.menu2 label {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 20px;
	top: 20px;
	background-size: 100%;
	cursor: pointer;
}

.menu2 .menuContent {
	position: relative;
	font-size: 16px;
	text-align: center;
	padding-bottom: 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.menu2 ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.menu2 ul li a {
	color: #fff;
	text-decoration: none;
	transition: color 0.2s;
}

.menu2 ul li {
	margin: 10px 20px;
	padding: 10px 0;
}

.menu2 ul li a:hover {
	color: #fff;
}

.menuEffects {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
	transform: translateY(0%);
	transition: all 0.5s;
}

#menuToggle:checked~.menuEffects {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s;
}

#menuToggle:checked~.menuEffects ul {
	opacity: 1;
}

#menuToggle:checked~.menuOpen .open {
	background: url(../img/../img/close.svg) no-repeat;
	width: 16px;
	height: 16px;
	z-index: 100;
	padding-top: 1px
}

#menuToggle:checked~.menuOpen .open:before {
	content: 'закрыть меню';
	color: #FFFFFF;
	position: absolute;
	margin-left: -100px;
	bottom: 1px
}

#menuToggle:not(:checked)~.menuEffects ul {
	transform: translateY(-30%);
}


.menuToggle_header{
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	top:80px;
	left: 450px;
	 
}
.menuToggle_header:after {
	content: 'PRO INTERIER';
	font-family: 'Oswald', sans-serif;
	font-size: 82px;
	font-weight: 600;
	text-transform: uppercase;
	color: #E8E8E8;
	left: -30px;
    top: -20px;
    padding-left: -50px;
    position: absolute;
    width: 100%;
	opacity: 0.1
	
}

/* Стиль для рекламного текста */

a.ml12 {
	position: absolute;
	bottom: 0;
	background-color: #FFC600;
	display: block;
	text-align: center;
	color: #000;
	font-size: 36px;
	font-weight: 100;
	width: 100%;
	padding: 15px 0;
	line-height: 36px;
}


/* Стиль подчеркивания ссылок */

.underline {
	position: relative;
	color: #000;
	font-weight: 300;
}

.underline::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 2px;
	background-color: #ffc600;
	transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline:hover::before {
	left: 0;
	right: auto;
	width: 100%;
}


/* Гамбургер меню */

.hamburger {
	width: 100%;
	height: 80px;
	background: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	display: block;
	position: fixed;
	top: 0;
	margin-top: -200px;
	z-index: 1
}

.hamburger_header span {
	background: url(../img/double-arrow-left.svg) no-repeat;
	position: absolute;
	right: 0;
	width: 24px;
	height: 24px;
	display: block;
	margin: 28px 20px 0 0;
	z-index: 1000;
	cursor: pointer;
}

.hamburger_header span:before {
	content: 'меню';
	color: #FFFFFF;
	margin-left: -45px;
	text-transform: uppercase;
	position: absolute;
	margin-top: 4px;
	cursor: pointer;
	z-index: 1000;
}

#menu__toggle:checked~.hamburger_header>span {
	background: url(../img/double-arrow-right.svg) no-repeat;
	position: absolute;
	right: 0;
	width: 24px;
	height: 24px;
	display: block;
	margin: 28px 20px 0 0;
	z-index: 1000;
	cursor: pointer;
}

#menu__toggle:checked~.hamburger_header>span:before {
	content: 'закрыть';
	color: #FFFFFF;
	margin-left: -55px;
	text-transform: uppercase;
	position: absolute;
	margin-top: 4px;
	cursor: pointer;
	z-index: 1000;
}

#menu__toggle:checked~.menu__box {
	right: 0;
	visibility: visible;
}

.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 80px;
	right: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 20px 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 1);
	transition-duration: .25s;
}

.menu__item {
	display: block;
	padding: 12px 24px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
	transition-duration: .25s;
}

.menu__item:hover {
	background-color: #FFC600;
	color: rgba(0, 0, 0, 1.00)
}

.calculator_box {
	display: block;	 
	color: #fff;
	height: 60px;
	padding-left: 60px;
	padding-top: 20px;
	background:url(../img/calculator.svg) 20px 50% no-repeat;
	}
 .calculator_box:hover{
	display: block;	 
	color: #fff;
	height: 60px;
	padding-left: 60px;
	padding-top: 20px;
	background:url(../img/calculator_black.svg) 20px 50% no-repeat;
	 background-color: #FFC600;
	 color: rgba(0, 0, 0, 1.00);
}
.feedback_box {
	display: block;	 
	height: 60px;
	color: #fff;
	padding-left: 60px;
	padding-top: 22px;
	background:url(../img/form.svg) 20px 40% no-repeat;
	}
.feedback_box:hover{
	display: block;	 
	color: #fff;
	padding-left: 60px;
	padding-top: 22px;
	background:url(../img/form_black.svg) 20px 40% no-repeat;
	background-color: #FFC600;
	color: rgba(0, 0, 0, 1.00);
}

/* Адаптив */

@media (max-width: 768px) {
	a.ml12 {
		font-size: 14px;
		line-height: 21px;
		/*bottom: 100px;*/
	}
	.menu2 .menuContent {
		text-align: justify;
		font-size: 14px;
		align-items: flex-start;
		height: 0;
		justify-content: space-between;
	}
	.menu2 ul li {
		margin: 0 20px;
		padding: 5px 0;
	}
	.menuEffects {
		padding-top: 100px;
	}
	#menuToggle:checked~.menuOpen .open:before {
		margin-right: 0px;
		font-size: 12px;
	}
	.menuToggle_header{
		display: none
	}
	.menuToggle_header:after{
		display: none
	}
}

@media (min-width: 0px) and (max-width: 376px) {
	#menuToggle:checked~.menuOpen .open {
		background: url(../img/../img/close.svg) no-repeat;
		width: 16px;
		height: 16px;
		z-index: 100;
		padding-top: 1px;
	}
	#menuToggle:checked~.menuOpen .open:before {
		margin-right: 0px;
		font-size: 12px;
	}
	.menu2 ul li a{
		font-size: 11px;
		line-height: 16px;
	}
	.menu2 ul li{
		padding: 2px 0;
		margin: 0 10px;
	}
	.menu2{
		margin-top: 50px
	}
	a.ml12{
		display: none
	}
}


@media (max-width: 1199px) {
	.hamburger {
		margin-top: 0px !important;
	}
	.menu,
	.calculator,
	.feedback {
		display: none
	}
	.menuToggle_header{
		font-size: 30px;
		left: 400px;
		line-height: 36px;
		top:40px
	}
	.menuToggle_header:after{
		font-size: 48px;
	}
}

@media (max-width: 500px) {
	.hamburger {
		margin-top: 80px !important;
	}
	.kind {
		white-space: nowrap;
		text-align: left;
		align-items: center;
		margin-top: 80px;
	}
	.logo {
		padding: 0;
		width: 100%
	}
	.logo:after{
	 
	left: 50%;
		 
		width: 100%
	 
}
	#menuArea {
		position: absolute
	}
	.open {
		top: 115px;
	}
	.menu2,
	.menu__box {
		margin-top: 80px
	}
	a.ml12 {
		font-size: 14px;
		line-height: 21px;
		 bottom: 0px; 
		position: absolute;
	}
}