@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url(navbar.css);
body {
	font-family: 'Oswald', sans-serif;
	background: rgba(255,255,255,1.00);
	margin: 0 auto;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
}
.container_small {
	/*  width: 345px;*/
	display: inline-block;
}
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.offer {
	width: 100%;
}
a, li, .navbar {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 18px;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 120px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 48px !important;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	margin: 0;
}
h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 36px !important;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	line-height: 30px;
}
h5 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	line-height: 40px;
	z-index: 20;
}
h6 {
	font-family: 'Oswald', sans-serif;
	font-size: 24px !important;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	 
	z-index: 20;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
p {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 100;
	color: #000;
	line-height: 36px;
}
.top_20 {
	margin-top: 20px;
}
.top_30 {
	margin-top: 30px;
}
.bottom_15 {
	margin-bottom: 15px;
}
.bottom_30 {
	margin-bottom: 30px;
}
.bottom_50 {
	margin-bottom: 50px;
}
.left_270 {
	margin-left: 270px;
}
.left_180 {
	margin-left: 180px;
}
.right_30 {
	margin-right: 30px
}
.left_30 {
	margin-left: 30px
}
.right_20 {
	margin-right: 20px
}
.left_20 {
	margin-left: 20px
}
.block_01 {
	background-color: #F4F4F4;
	width: 100%;
	padding: 50px 0 70px 0;
}
.block_02 {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+66,ffc600+66,ffc600+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 66%, #ffc600 66%, #ffc600 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 66%, #ffc600 66%, #ffc600 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ffffff 0%, #ffffff 66%, #ffc600 66%, #ffc600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffc600', GradientType=1 ); /* IE6-9 */
	width: 100%;
	padding: 50px 0 50px 0;
}
.block_03 {
	background-color: #F4F4F4;
	width: 100%;
	padding: 50px 0 70px 0;
}
.block_04 {
	background: #fff url(../img/bg_03.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	padding: 50px 0 70px 0;
}
.block_05 {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc600+0,ffc600+33,ffffff+33,ffffff+100 */
	background: #ffc600; /* Old browsers */
	background: -moz-linear-gradient(left, #ffc600 0%, #ffc600 33%, #ffffff 33%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ffc600 0%, #ffc600 33%, #ffffff 33%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ffc600 0%, #ffc600 33%, #ffffff 33%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc600', endColorstr='#ffffff', GradientType=1 ); /* IE6-9 */
	width: 100%;
	padding: 50px 0 0px 0;
}
.block_05 .number {
	color: #000;
	opacity: 10%;
}
.block_05 span.number:after {
	color: #000;
	opacity: 50%;
}
.block_06 {
	background-color: #000;
	width: 100%;
	padding: 100px 0 70px 0;
}
.block_06:before {
	content: 'pro interier';
	position: absolute;
	transform: rotate(-90deg);
	font-family: 'Oswald' !important;
	font-size: 64px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	opacity: 0.1;
	left: -100px;
	margin-top: 100px;
}

.block_07 {
	background-color: #000;
	width: 100%;
	height: 270px;
	
	 
	overflow: hidden;
}
span.number {
	font-family: 'Oswald', sans-serif;
	font-size: 144px;
	font-weight: 600;
	text-transform: uppercase;
	color: #E8E8E8;
	display: block;
	float: left;
}
span.number:after {
	content: 'PRO INTERIER';
	font-family: 'Oswald', sans-serif;
	font-size: 72px;
	font-weight: 600;
	text-transform: uppercase;
	color: #E8E8E8;
	vertical-align: top;
	line-height: 140px;
	padding-left: 20px;
}
.number_header h3 {
	padding: 65px 0 0 190px;
	position: absolute;
	font-family: 'Oswald', sans-serif;
	 
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	margin: 0;
}
.page_content {
/*	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	 
	width: 100%;*/
	 
}
.page_content p {
	text-align: justify;
	padding-right: 30px;
	font-size: 20px;
}
.page_image {
	width: auto;
	height: auto;
}
.free {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	margin: 15px 0 20px 00;
	text-align: left;
	padding-left: 100px;
	line-height: 30px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffc600+0,ffc600+44,ffffff+100&1+0,1+44,1+44,0+45,0+45,0+100 */
	background: -moz-linear-gradient(left, rgba(255,198,0,1) 0%, rgba(255,198,0,1) 44%, rgba(255,199,5,0) 45%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,198,0,1) 0%, rgba(255,198,0,1) 44%, rgba(255,199,5,0) 45%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,198,0,1) 0%, rgba(255,198,0,1) 44%, rgba(255,199,5,0) 45%, rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc600', endColorstr='#00ffffff', GradientType=1 ); /* IE6-9 */
}
.container_small h4 {
	text-align: justify;
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	margin: 0;
}
.underline {
	position: relative;
	color: #000;
	font-weight: 300;
}
.underline::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 2px;
	background-color: #ffc600;
	transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.underline:hover::before {
	left: 0;
	right: auto;
	width: 100%;
}
.img {
	width: 270px;
	height: 150px;
	background-color: #000;
	margin-left: 30px;
	overflow: hidden;
}

.img:nth-child(3):before {
	content: '' url(../img/hit.png);
	display: block;
	width: 113px;
	height: 61px;
	position: absolute;
	margin: -3px 0 0 170px;
}

.images {
	position: block;
}
.block_03 h5 {
	color: #FFFFFF;
	font-size: 24px;
	line-height: 30px;
}
.products {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 30px auto;
}
.item, .item2, .item3, .item4, .item5 {
	width: 46%;
	height: 500px;
	background-color: #000;
	margin: 15px;
	min-width: 270px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
	z-index: 10;
	/*   -webkit-box-shadow: inset 0px 0px 500px rgba(0,0,0,0.9);
	    -moz-box-shadow:    inset 0px 0px 500px rgba(0,0,0,0.9);
	    box-shadow:         inset 0px 0px 500px rgba(0,0,0,0.9);*/
	overflow: hidden;
}
.item:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover {
	-webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
	transition: ease-in-out 0.3s;
}
.cloud {
	position: relative;
	margin-bottom: -60px;
	transition: ease-in-out 0.3s;
}
.item:hover .cloud, .item2:hover .cloud, .item3:hover .cloud, .item4:hover .cloud, .item5:hover .cloud {
	margin-bottom: 0;
	transition: ease-in-out 0.3s;
}
.prd:nth-child(1) .item:nth-child(1) {
 background-image: url(../img/products/matovye-i-glyancivye.jpg);
	background-size: cover;
	background-position: 50% 0;
}
.prd:nth-child(1) .item:nth-child(2) {
 background-image: url(../img/products/tkanivye.jpg);
	background-size: cover;
	 
}
.prd:nth-child(2) .item:nth-child(1) {
 background-image: url(../img/products/mnogourovnivye.jpg);
	background-size: cover;
	background-position: 50% 0;
}
.prd:nth-child(2) .item:nth-child(2) {
 background-image: url(../img/products/svetovoi.jpg);
	background-size: cover;
	background-position: 50% 0;
}
.item2:nth-child(1) {
 background-image: url(../img/products/paryashie.jpg);
	background-size: cover;
	background-position: 50% 0;
}
.item2:nth-child(2) {
 background-image: url(../img/products/tenevoi.jpg);
	background-size: cover;
	background-position: 50% 0;
}
.item3:nth-child(1) {
 background-image: url(../img/products/liniy.jpg);
	background-size: cover;
	background-position: 50% 0;
}
.item3:nth-child(2) {
 background-image: url(../img/products/podsvetka.jpg);
	background-size: cover;
	background-position: 50% 0;
}
.item4:nth-child(1) {
 background-image: url(../img/products/fotopechaty.jpg);
	background-size: cover;
	
}
.item4:nth-child(2) {
 background-image: url(../img/products/3D.jpg);
	background-size: cover;
	background-position: 50% 0;
}
.item5:nth-child(1) {
 background-image: url(../img/products/nebo.jpg);
	background-size: cover;
}
.item5:nth-child(2) {
 background-image: url(../img/products/zvukoizolyazia.jpg);
	background-size: cover;
}
.prd {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 15px 0;
}
.adv {
	height: 60px;
	width: 100%;
	margin: 0px 15px;
	background-color: #ffc600;
	display: flex;
	align-items: center;
	justify-content: center;
}
.adv a {
	display: block;
	text-align: center;
	color: #000;
	font-size: 36px;
	font-weight: 100;
}
.description {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-transform: none;
	color: #fff;
	line-height: 24px;
	margin: 10px 0;
}
.price {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 500;
	text-transform: none;
	color: #FFC600;
}
.more {
	display: block;
	padding: 10px 20px;
	background: #FFC600;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	margin-top: 20px;
}
.more:hover {
	background: #F3400A;
	transition: all 0.5s ease-in-out;
}
.ml12 .letter, .ml13 .letter {
	display: inline-block;
	line-height: 1em;
}
.content2 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	text-align: justify;
}
.content2 p:nth-child(1) {
	margin-right: 30px;
}
.block_06 .container2 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	text-align: justify;
	flex-wrap: wrap;
	max-width: 1170px;
	margin: 0 auto;
}
.block_06 .container2 ul li {
	color: #fff;
	font-size: 14px;
	text-transform: none;
	font-weight: 300;
	list-style: square;
	line-height: 30px;
	text-align: left;
}
.block_06 .container2 ul {
	margin: 50px 20px 0 0px;
	padding: 0;
}
.block_06 .container2 ul:nth-child(1) {
	margin-top: 0px;
}
.block_06 .container2 ul  li {
	list-style: none;
}
.block_06 .container2 a {
	color: #fff;
	font-size: 14px;
	text-transform: none;
	font-weight: 300;
}
.block_06 .container2 a:hover {
	color: #FFC600;
	transition: all 0.2s ease-in-out;
}
.block_06 h5 {
	color: #FFFFFF;
	font-size: 30px;
}
.payment {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: justify;
	flex-wrap: wrap;
	width: 250px;
}
.social {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	text-align: justify;
	flex-wrap: wrap;
	margin-top: 3px;
}
.social a {
	display: block;
	margin-right: 20px;
	margin-top: 10px;
}
.fb {
	background: url(../img/../img/social/facebook_white.svg) no-repeat;
	width: 24px;
	height: 24px;
	 
	transition: all 0.3s ease-in-out;
}
.fb:hover{
	background: url(../img/../img/social/facebook.svg) no-repeat;
}
.twit {
	background: url(../img/../img/social/twitter_white.svg) no-repeat;
	width: 24px;
	height: 24px;
	transition: all 0.3s ease-in-out;
}
.twit:hover {
	background: url(../img/../img/social/twitter.svg) no-repeat;
	width: 24px;
	height: 24px;
	transition: all 0.3s ease-in-out;
}
.vk {
	background: url(../img/../img/social/vk_white.svg) no-repeat;
	width: 24px;
	height: 24px;
	transition: all 0.3s ease-in-out;
}
.vk:hover {
	background: url(../img/../img/social/vk.svg) no-repeat;
	width: 24px;
	height: 24px;
	transition: all 0.3s ease-in-out;
}
.ok {
	background: url(../img/../img/social/ok_white.svg) no-repeat;
	width: 24px;
	height: 24px;
	transition: all 0.3s ease-in-out;
}
.ok:hover {
	background: url(../img/../img/social/ok.svg) no-repeat;
	width: 24px;
	height: 24px;
	transition: all 0.3s ease-in-out;
}
.in {
	background: url(../img/../img/social/instagram_white.svg) no-repeat;
	width: 24px;
	height: 24px;
	transition: all 0.3s ease-in-out;
}
.in:hover {
	background: url(../img/../img/social/instagram.svg) no-repeat;
	width: 24px;
	height: 24px;
	transition: all 0.3s ease-in-out;
}
.cashback {
	position: absolute;
	right: 0;
	padding: 10px 100px 10px 50px;
	background: #F3400A;
	margin-top: -150px;
}
.cashback:after {
	content: ' Звоните! ';
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	padding: 0 0 2px 10px;
	position: absolute;
	background: #000;
	height: 30px;
	width: 160px;
	right: 0;
	margin-top: -76px;
	z-index: 1;
}

a.tel{
	color: #ffffff;
	font-weight: 500;
}
/* Слайдер отзывы */


.mySlides {
	display: none;
}
.mySlides img {
	vertical-align: middle;
	width: 100%;
}
.text {
	margin-bottom: 50px
}
/* Slideshow container */
.slideshow-container {
	max-width: 1170px;
	position: relative;
	margin: auto;
}
.inner {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	text-align: justify;
}
/* Next & previous buttons */
.prev, .next {
	display: block;
	cursor: pointer;
	transition: 0.6s ease;
	width: 80px;
	height: 80px;
	margin-top: -280px;
	position: absolute;
	opacity: 0.5;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	background: url(../img/right2.svg);
	margin-right: 20px;
}
.prev {
	left: 0;
	background: url(../img/left2.svg);
	margin-left: 20px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	opacity: 1;
}
/* Caption text */
.text p.testimonial {
	font-family: 'PT Serif', serif;
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	padding: 0 50px 50px 0px;
	text-align: right;
	margin: 0 auto;
}
p.name {
	font-family: 'PT Serif', serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	text-align: right;
	/*margin: 0 0 50px 0;*/
}
p.align_right{
	text-align: right
}
.name span {
	background-color: #ffc600;
	padding: 1px 5px;
}
.text p.testimonial::before {
	content: '' url(../img/quote_left.svg);
	width: 32px;
	height: 21px;
	padding-right: 30px;
	margin-bottom: 20px;
	position: absolute;
	margin-left: -60px;
}
.text p.testimonial::after {
	content: '' url(../img/quote_right.svg);
	width: 32px;
	height: 21px;
	padding-left: 30px;
	margin-top: 20px;
	position: absolute;
}
/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: none;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
}


.bradcrumbs{
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 30px;
}

.sidebar{
	margin-right: 30px;
	 
}

.sidebar li{
	margin: 15px 0;
}

.sidebar ul{
	margin: 10px 0;
	width: 210px;
	border-bottom: 2px dotted rgba(0,0,0,.5)
}


.inner_content{
	display: flex;
	justify-content:flex-start;
	align-items: flex-start;
	
}



/* Аккордеон */
#container-main{
	margin:40px 20px 0 20px;
	width:auto;
	display: none;
	
	 
	 
}

.accordion-container {
	width: 100%;
	margin: 30px 0;
	 
	clear:both;
}

.accordion-titulo {
	position: relative;
	display: block;
	padding: 20px;
	font-size: 18px;
	font-weight: 400;
	background: #FFC600;
	color: #fff;
	text-decoration: none;
}
.accordion-titulo.open2 {
/*	background: #16a085;
	color: #fff;*/
}
.accordion-titulo:hover {
	/*background: #1abc9c;*/
}

.accordion-titulo span.toggle-icon:before {
	content:"+";
}

.accordion-titulo.open2 span.toggle-icon:before {
	content:"-";
	margin-bottom: 10px
}

.accordion-titulo span.toggle-icon {
	position: absolute;
	 
	right: 20px;
	font-size: 38px;
	font-weight:bold;
}

.accordion-content {
	display: none;
	padding: 0 20px;
	overflow: auto;
}

.accordion-content p{
	margin:0;
}

.accordion-content img {
	display: block;
	float: left;
	margin: 0 15px 10px 0;
	width: 50%;
	height: auto;
}


@media (max-width: 767px) {
	.accordion-content {
		padding: 0 20px;
	}
}



/* Адаптив */

@media (max-width: 1600px) {
.item, .item2, .item3, .item4, .item5 {
	width: 45%;
}
}

@media (max-width: 1199px) {
.page_content {
	padding: 0 20px
}
.container_small {
	padding-left: 20px
}
.images .img:nth-child(1) {
	display: none;
}
.images {
	margin-right: 20px;
}
.block_02 .container {
	display: flex;
	justify-content: center
}
.item, .item2, .item3, .item4, .item5 {
	width: 100%;
}
.text p.testimonial {
	font-family: 'PT Serif', serif;
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	padding: 0 180px 50px 0px;
	text-align: right;
	margin: 0 auto;
}
p.name {
	font-family: 'PT Serif', serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	text-align: right;
	margin: 0 150px 0 0; 
}
.text {
	margin-top: 50px
}
	p.align_right{
		margin-right: 150px
	}
	.container2  {
		padding: 0 30px!important;
		justify-content: left!important;
	}
	.block_06 .container2 ul {
		margin: 50px 30px 0 0px;
	}
	
	.block_06 .container {
		padding: 0 30px!important;
		justify-content: left!important;
		margin-top: 50px!important
	}
	
}

@media (min-width: 769px) and (max-width: 1199px) {
	.block_01 .container{
		padding: 0 30px
	}
	
}



@media (max-width: 768px) {
	.inner_content .sidebar{
		display: none
	}
	#container-main{
		display: none;
	} 
	.bradcrumbs{
		
		margin-left: 30px
	}
	
	.inner_header{
		margin-left: 30px!important
	}
	.container2{
		padding: 0 20px
	}
	.block_06 .container{
		 margin: 30px 0px 0 0px; 
	}
}



@media (max-width: 991px) {
.images .img:nth-child(2) {
	display: none;
}
.text p.testimonial {
	font-size: 18px;
	line-height: 30px
}
}

@media (min-width: 0px) and (max-width: 599px) {
span.number {
	font-size: 64px;
	padding-left: 20px;
}
span.number:after {
	font-size: 36px;
	line-height: 60px;
	padding-left: 10px;
}
	
	.inner_header{
		font-size: 30px!important;
	}
.number_header h3 {
	font-size: 24px !important;
	padding: 30px 0 0 100px !important;
}
.images .img:nth-child(3) {
	display: none;
}
.block_02 {
	background: #fff;
}
.container_small {
	float: none;
	padding-left: 0
}
.products {
	flex-direction: column;
	justify-content: center;
}
.prd {
	width: 100%
}
.adv {
	margin: 0
}
.page_image {
	width: 50%;
}
.block_06 h5 {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}
.cashback:after {
	font-size: 14px;
	font-weight: 400;
	width: 120px;
	margin-left: 10px;
	line-height: 21px;
	margin-top: -42px;
	height: auto;
}
.cashback {
	position: absolute;
	right: 0;
	padding: 10px 100px 10px 20px;
	background: #F3400A;
	margin-top: -50px;
}
.text p.testimonial {
	font-family: 'PT Serif', serif;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	padding: 0;
	text-align: right;
	margin: 50px 70px 0 70px;
	line-height: 21px;
}
p.name {
	font-family: 'PT Serif', serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	text-align: right;
	margin: 10px 20px 0px 0;
	line-height: 24px;
}
	
	p.align_right{
		margin-right: 20px;
		margin-bottom: 100px!important;
	}
.name span {
	background-color: #ffc600;
	padding: 1px 5px;
}
.text p.testimonial::before {
	content: '' url(../img/quote_left.svg);
	width: 32px;
	height: 21px;
	left: 20px;
	position: absolute;
	margin-left: 0;
}
.text p.testimonial::after {
	content: '' url(../img/quote_right.svg);
	width: 32px;
	height: 21px;
	right: 20px;
	padding: 0;
	margin: 0;
	position: absolute;
}
.inner img {
	display: none;
}
.prev, .next {
	display: block;
	cursor: pointer;
	position: absolute;
	transition: 0.6s ease;
	width: 40px;
	height: 40px;
	margin-top: -110px;
	opacity: 0.5;
}
.next {
	right: 0;
	background: url(../img/../img/../img/../img/right40_black.svg) no-repeat;
	margin-right: 20px;
}
.prev {
	left: 0;
	background: url(../img/../img/../img/left40_black.svg) no-repeat;
	margin-left: 20px;
}
.text {
	margin-bottom: 20px;
	margin-top: 0;
}
.container2 {
	margin: 40px 0px !important
}
.container2 ul {
	margin: 0 20px
}
.container .social {
	float: none !important;
	display: flex;
	align-items: flex-start;
	justify-content: left;
	text-align: justify;
	margin-top: 3px;
}
.container .payment {
	float: none !important;
	display: flex;
	align-items: center;
	justify-content:left;
	text-align: justify;
	width: auto;
	margin-bottom: 10px
}
.container .payment > img {
	margin-right: 10px
}
.block_06 {
	padding-top: 20px
}
.page_content p {
	font-size: 18px;
	line-height: 30px;
}
.adv a {
	font-size: 20px
}
}

@media (min-width: 570px) and (max-width: 768px) {
span.number {
	font-size: 100px;
	padding-left: 20px;
}
span.number:after {
	font-size: 48px;
	line-height: 100px;
	padding-left: 30px;
}
.number_header h3 {
	font-size: 36px !important;
	padding: 45px 0 0 150px !important;
}
}


 @-webkit-keyframes fade {
 from {
opacity: 0
}
 to {
opacity: 1
}
}
 @keyframes fade {
 from {
opacity: 0
}
 to {
opacity: 1
}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next, .text {
	font-size: 11px
}
}
