.textContainer {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.letter {
  display: inline-block;
  will-change: transform, opacity;
  animation: letterAnim 7s infinite;
}

/* Space character should preserve its width */
.letterSpace {
  display: inline-block;
  width: 0.25em;
}

@keyframes letterAnim {
  0% {
    transform: translate3d(40px, 0, 0);
    opacity: 0;
  }
  /* Letter slide in */
  8%, 45% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  /* Letter slide out */
  53%, 100% {
    transform: translate3d(-30px, 0, 0);
    opacity: 0;
  }
}
