.textContainer {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  vertical-align: middle;
}

.word {
  display: inline-block;
  white-space: nowrap;
}

.letter {
  display: inline-block;
  will-change: transform, opacity;
}

.space {
  display: inline-block;
  width: 0.28em;
}
